@import "../base/_variables";

.player-name {
    font-size: $default-font-size;
}

.player-score-content {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-gap: 10px;
}

.score-main-value {
    font-size: 5em;
}

.scored {
    grid-column: span 2;
}
