@import "./base/_variables";
@font-face {
    font-family: tennisScoreTrackerFont;
    src: url("../assets/fonts/FjallaOne-Regular.ttf");
}

html {
  color: $text-color;
  font-family: tennisScoreTrackerFont;
  font-size: $default-font-size;
}

button {
  padding: 1em;
}
